<h1> Edit Recipe </h1>

<%= form_for @recipe do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :holiday_id, "Holiday" %>
    <%= f.select :holiday_id, Holiday.all.collect {|holiday| [holiday.name, holiday.id]} %>
    <br>
    <%= f.submit %>
<%end%>