<h1> Ingredient: <%= @ingredient.name %> </h1>
<br><br><br><br>
<p> <%= @ingredient.name %> </p>

<br>
<br>
<%= button_to('Edit Ingredient', edit_ingredient_path(@ingredient.id),
        method: "get")  %>
<br>
<%= button_to('Delete Ingredient', ingredient_path(@ingredient.id),
        method: "delete")  %>
<br>
<%= button_to('All Ingredients', ingredients_path,
        method: "get")  %>
<br>